<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/pagesCommonHead.ejs', title) %>
</head>

<body>
    <div class="container-fluid">
        <%- include('../partials/navbar.ejs', active) %>
    </div>
    <%- include('../partials/scripts.ejs') %>
</body>

</html>